<html>
    <head>
        <link rel="stylesheet" href="./style.css"/>
<!--        <script type="text/javascript" src="src/index.ts"></script>-->
    </head>
    <body>
        <p>Ссылки на странички:</p>
        <nav>
            <a href="src/pages/authorization/authorization.hbs">Authorization</a>
            <a href="src/pages/registration/registration.hbs">Registration</a>
            <a href="src/pages/settings/settings.hbs">Settings</a>
            <a href="src/pages/settings/change-password.hbs">ChangePassword</a>
            <a href="src/pages/chat/chat.hbs">Chat</a>
            <a href="src/pages/error/404.hbs">404</a>
            <a href="src/pages/error/500.hbs">500</a>
        </nav>
    </body>
</html>
