<main>
    {{> header/header text="Вход" }}
    {{> label/label text="Логин" }}
    {{> input/input }}
    {{> label/label text="Пароль" }}
    {{> input/input }}
    {{> button/button text="Авторизоваться" }}
    {{> link/link text="Нет аккаунта?" }}
</main>
