@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@import './global.css';

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: pink;
}
