<main>
    <p>Иван</p>
    {{> settings-input/settings-input text="Почта" placeholder="pochta@yandex.ru"}}
    {{> settings-input/settings-input text="Логин" placeholder="ivanivanov"}}
    {{> settings-input/settings-input text="Имя" placeholder="Иван"}}
    {{> settings-input/settings-input text="Фамилия" placeholder="Иванов"}}
    {{> settings-input/settings-input text="Телефон" placeholder="+7 (909) 967 30 30"}}
    {{> button/button text="Изменить данные" }}
    {{> button/button text="Изменить пароль" }}
    {{> button/button text="Выйти" }}
</main>
