<link rel="stylesheet" href="./../../partials/wrapper/wrapper.css" />

<main>
    {{#> wrapper/wrapper}}
        {{> header/header text="500" }}
        {{> label/label text="Мы уже фиксим" }}
        {{> link/link text="Назад к чатам" }}
    {{/wrapper/wrapper}}
</main>
